################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Task ejabisoft/FileContentIndex/8050b016-bb37-4abb-bbe8-e08f650fcb39.vsidx
/.vs/Task ejabisoft/FileContentIndex/4a09e8f1-5da1-4e03-bfb0-370c363dfc41.vsidx
/.vs/Task ejabisoft/v17/.suo
/.gitignore
/.vs/Task ejabisoft/FileContentIndex/ea006adc-d83b-40af-9089-f12bb1da9fdc.vsidx
/.gitignore
